<?xml version="1.0" encoding="utf-8"?>
<launch>
  <machine name="starleth-hlpc" address="starleth-hlpc"
    env-loader="~/catkin_ws/devel/env.sh" user="starleth">
  </machine>
  <!--  VI-sensor-->
  <node name="visensor" pkg="visensor_node" type="visensor_node"
    machine="starleth-hlpc" respawn="true" output="screen">
  </node>
  <!--X-Sens-->
  <node name="xsens" pkg="receive_xsens" type="receive_xsens"
    machine="starleth-hlpc" respawn="true" output="screen">
  </node>
  <!--PrimeSense-->
  <include file="$(find openni2_launch)/launch/openni2.launch"
    machine="starleth-hlpc">
    <arg name="depth_registration" value="true"/>
  </include>
  <!--usb_cam0-->
  <node name="usb_cam0" pkg="usb_cam" type="usb_cam_node"
    machine="starleth-hlpc" respawn="true" output="screen"
    args="video_device:=/dev/starleth/usb_cam0
    pixel_format:=yuyv _framerate:=15">
  </node>
  <!--usb_cam1-->
  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node"
    machine="starleth-hlpc" respawn="true" output="screen"
    args="video_device:=/dev/starleth/usb_cam1
    pixel_format:=yuyv _framerate:=15">
  </node>
  <!--Leica-->
  <node name="leica" pkg="leica_interface" type="leica_node.py"
    respawn="true" output="screen">
  </node>
</launch>
